.my-navbar{
    height: 130px;
    background-color: #2f3b58;
}

.my-brand{
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
}

a:not([href]):not([tabindex]){
    color: white;
}

.form-inline{
    display: flex;
    position: relative;
}


